html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace, sans-serif;
  color: #333333;
  font-size: 100%;
  min-width: 300px;
  margin: 2rem;
}

h1 {
  display: inline-block;
  font-size: 1.4rem;
  padding-top: 2rem;
  text-align: center;
}

h2, h3 {
  color: #0a0a0a;
}

h2 {
  margin: 3rem 0 1.5rem 0;
  font-size: 2.2rem;
}

h3 {
  margin: 2rem 0 1.2rem 0;
  font-size: 1.6rem;
}

p code {
  padding: 0.2rem 0.4rem;
  background-color: #e0e0e0;
}

.class-property p {
  padding-left: 4rem;
}

.class-property p:first-child {
  padding-left: 0rem;
}

#flex-body {
  display: flex;
  justify-content: space-between;
}

header {
  min-width: 150px;
  width: 20%;
  margin-right: 2rem;
}

main {
  width: 75%;
}

#navbar {
  ul {
    padding-left: 1rem;
    height: 40%;
    display: flex;
    position: fixed;
    flex-direction: column;
    list-style: none;
  }

  li {
    margin: 0.2rem;
  }

  a {
    font-size: 1.2rem;
    color: #4e6e87;
  }

  a:hover {
    color: #0a0a0a;
    transition: color 0.2s;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
  }

  #flex-body {
    flex-direction: column;
  }

  header {
    width: 95%;
  }

  #navbar {
    header {
      margin: auto;
      text-align: center;
    }

    ul {
      position: initial;
      align-items: center;
    }
  }

  main {
    width: 95%;
    align-items: center;
  }
}
